<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<table class="table table-striped table-hover" id="movie_table" width=100%>
  <thead class="bg-blak-100 border-b border-black-200">
    <tr>
      <th><%= sorting "title" , "Title" %></th>
      <th><%= sorting "rating", "Rating" %></th>
      <th><%= sorting "release_date", "Release Date" %></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr scope="row">
        <td width=15% class="<%= highlighted("title")%>">
          <%= link_to movie.title, movie %>
        </td>
        <td width=5% class="<%= highlighted("rating")%>">
          <%= movie.rating %>
        </td>
        <td width=15% class="<%= highlighted("release_date")%>">
          <%= movie.release_date %>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr scope="row"></td>
  </tfoot>
</table>

<%= link_to "New movie", new_movie_path %>
